{# Footer #}
<footer class="py-5 bg-dark">
    <div class="container">
        {# Affichage des pages du sites #}
        {{ render(controller(namespace~'FrontController::menuBottomPages')) }}
        {# Copyleft #}
        <p class="m-0 text-center text-white">Copyleft &copy; Your Website 2021</p>
    </div>
</footer>
