{% extends skin~'/base.html.twig' %}

{% block meta %}{% endblock %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block javascripts %}
  
{% endblock %}

{% block body %}
    <!-- Start Slider Area -->
    {% include skin~'/pages/homepage/carousel.html.twig' %}		
    <!-- End Slider Area -->
        

        <!-- START PROMO -->
        {#<section class="promo_section section_padding">
                <div class="container">
                        <div class="row">			
                                <div class="col-md-6 col-sm-12">
                                        <div class="promo_text pr-45">
                                                <h2>Super Clean user interface <br /> for easier</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Pellentesque pharetra ullamcorper luctus. Aliquam ut risus 
                                                venenatis, dapibus ante vel, ornare magna. Morbi erat leo, 
                                                ornare id commodo</p>

                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Pellentesque pharetra ullamcorper luctus. Aliquam ut risus 
                                                venenatis dapibus ante vel.</p>

                                        </div>
                                </div><!-- END COL -->	

                                <div class="col-md-6 col-sm-12">
                                        <img src="assets/images/promo-2.png" class="img-responsive" alt="Download Image">
                                </div><!-- END COL -->					
                        </div>				
                </div>				
        </section>#}
        <!-- START PROMO -->

        <!-- START PROMO -->
        {#<section class="promo_section section_padding">
                <div class="container">
                        <div class="row">	
                                <div class="col-md-6 col-sm-12">
                                        <img src="assets/images/promo-1.png" class="img-responsive" alt="Promo Image">
                                </div><!-- END COL -->	

                                <div class="col-md-6 col-sm-12">
                                        <div class="promo_text pl-45">
                                                <h2>Naver miss a task get Always <br /> step ahead</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Pellentesque pharetra ullamcorper luctus. Aliquam ut risus 
                                                venenatis, dapibus ante vel, ornare magna. Morbi erat leo, 
                                                ornare id commodo</p>

                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Pellentesque pharetra ullamcorper luctus. Aliquam ut risus 
                                                venenatis dapibus ante vel.</p>

                                        </div>
                                </div><!-- END COL -->	
                        </div>				
                </div>				
        </section>#}
        <!-- START PROMO -->		


        <!-- START FEATURES -->
        {#<section id="features" class="section_padding">
                <div class="container">
                        <div class="section_heading text-center">
                                <h2>Awesome Features</h2>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra  ullamcorper luctus</p>
                        </div>

                        <div class="row">
                                <div class="col-md-4 col-sm-6">
                                        <div class="single_feature">
                                                <div class="feature_icon">
                                                        <i class="ti-vector"></i>
                                                </div>
                                                <div class="sing_feature_text">							
                                                        <h3>Awesome Design</h3>
                                                        <p>
                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                                        </p>
                                                </div>
                                                <div class="feat_num">01</div>
                                        </div>		
                                </div><!-- END COL -->					

                                <div class="col-md-4 col-sm-6">
                                        <div class="single_feature">
                                                <div class="feature_icon">
                                                        <i class="ti-settings"></i>
                                                </div>
                                                <div class="sing_feature_text">								
                                                        <h3>Easy To Use</h3>
                                                        <p>
                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                                        </p>
                                                </div>	
                                                <div class="feat_num">02</div>							
                                        </div>		
                                </div><!-- END COL -->			

                                <div class="col-md-4 col-sm-6">
                                        <div class="single_feature">
                                                <div class="feature_icon">
                                                        <i class="ti-mobile"></i>
                                                </div>
                                                <div class="sing_feature_text">							
                                                        <h3>Responsive Design</h3>
                                                        <p>
                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                                        </p>
                                                </div>	
                                                <div class="feat_num">03</div>							
                                        </div>		
                                </div><!-- END COL -->				

                                <div class="col-md-4 col-sm-6">
                                        <div class="single_feature">
                                                <div class="feature_icon">
                                                        <i class="ti-bell"></i>
                                                </div>
                                                <div class="sing_feature_text">								
                                                        <h3>Update Notification</h3>
                                                        <div class="border_line"></div>
                                                        <p>
                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                                        </p>
                                                </div>	
                                                <div class="feat_num">04</div>	
                                        </div>		
                                </div><!-- END COL -->			

                                <div class="col-md-4 col-sm-6">
                                        <div class="single_feature">
                                                <div class="feature_icon">
                                                        <i class="ti-zip"></i>
                                                </div>
                                                <div class="sing_feature_text">								
                                                        <h3>Fress Code</h3>
                                                        <p>
                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                                        </p>
                                                </div>	
                                                <div class="feat_num">05</div>	
                                        </div>		
                                </div><!-- END COL -->

                                <div class="col-md-4 col-sm-6">
                                        <div class="single_feature">
                                                <div class="feature_icon">
                                                        <i class="ti-headphone-alt"></i>
                                                </div>
                                                <div class="sing_feature_text">								
                                                        <h3>24/7 Support</h3>
                                                        <p>
                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                                        </p>
                                                </div>	
                                                <div class="feat_num">06</div>	
                                        </div>		
                                </div><!-- END COL -->		

                        </div>
                </div>
        </section>#}
        <!-- END FEATURES -->		

        <!-- START SCREENSHOTS -->
       {# <section id="screenshots" class="section_padding">
                <div class="container">
                        <div class="section_heading text-center">
                                <h2>App Screenshots</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra  ullamcorper luctus</p>
                        </div> <!-- END SECTION HEADING -->

                        <div class="app_screens_slider">					
                                <div class="single_screenshot">
                                        <img src="assets/images/screenshots/1.jpg" alt=""/>
                                </div>						

                                <div class="single_screenshot">
                                        <img src="assets/images/screenshots/2.jpg" alt=""/>
                                </div>						

                                <div class="single_screenshot">
                                        <img src="assets/images/screenshots/3.jpg" alt=""/>
                                </div>						

                                <div class="single_screenshot">
                                        <img src="assets/images/screenshots/4.jpg" alt=""/>
                                </div>						

                                <div class="single_screenshot">
                                        <img src="assets/images/screenshots/1.jpg" alt=""/>
                                </div>						

                                <div class="single_screenshot">
                                        <img src="assets/images/screenshots/2.jpg" alt=""/>
                                </div>							

                                <div class="single_screenshot">
                                        <img src="assets/images/screenshots/3.jpg" alt=""/>
                                </div>					
                        </div> 
                </div>	
        </section>  #}    
        <!-- END SCREENSHOTS -->

        <!-- START Promo -->
        {#<section id="promo_area" class="section_padding">
                <div class="container">
                        <div class="section_heading text-center">
                                <h2>How it works</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra  ullamcorper luctus</p>		
                        </div>
                        <div class="row">	

                                <div class="col-md-4">	
                                        <div class="single_promo">
                                                <span class="promo_number">01</span>
                                                <h3>Download</h3>
                                                <p>
                                                        Lorem Ipsum is simply dummy text of the printing typesetting 							
                                                </p>
                                        </div>
                                </div><!-- End Col -->	

                                <div class="col-md-4">
                                        <div class="single_promo">
                                                <span class="promo_number">02</span>
                                                <h3>Install</h3>
                                                <p>
                                                        Lorem Ipsum is simply dummy text of the printing typesetting 							
                                                </p>							
                                        </div>
                                </div><!-- End Col -->

                                <div class="col-md-4">					
                                        <div class="single_promo">
                                                <span class="promo_number">03</span>
                                                <h3>Run App</h3>
                                                <p>
                                                        Lorem Ipsum is simply dummy text of the printing typesetting 							
                                                </p>
                                        </div><!-- End Single Promo -->
                                </div><!-- End Col -->		
                        </div>
                </div>
        </section>#}
        <!-- END Promo -->


        <!-- START PRICING CARDS -->
        {#<section id="pricing_table" class="section_padding">
                <div class="container">
                        <div class="section_heading text-center">
                                <h2>Pricing Table</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra  ullamcorper luctus</p>					
                        </div> <!-- END SECTION HEADING -->

                        <div class="row">					
                                <div class="col-md-3 col-sm-6">
                                        <div class="pricingTable">							
                                                <div class="pri-heading">
                                                        <h3>Standard</h3>
                                                </div>	

                                                <div class="price">
                                                        <span class="price-value">$100</span>
                                                        <span class="month">monthly</span>								
                                                </div>

                                                <div class="pricingContent">
                                                        <ul>
                                                                <li>50GB Disk Space</li>
                                                                <li>50 Email Accounts</li>
                                                                <li>10 subdomains</li>
                                                                <li>15 Domains</li>

                                                        </ul>
                                                </div><!-- /  CONTENT BOX-->
                                                <div class="pricingTable-signup">
                                                        <a href="#" class="discover_btn btn">Order Now</a>
                                                </div>
                                        </div>
                                </div> <!-- END Coll -->		


                                <div class="col-md-3 col-sm-6">
                                        <div class="pricingTable">							
                                                <div class="pri-heading">
                                                        <h3>Business</h3>
                                                </div>								
                                                <div class="price">
                                                        <span class="price-value">$150</span>
                                                        <span class="month">monthly</span>								
                                                </div>							

                                                <div class="pricingContent">
                                                        <ul>
                                                                <li>100GB Disk Space</li>
                                                                <li>60 Email Accounts</li>
                                                                <li>20 subdomains</li>
                                                                <li>25 Domains</li>

                                                        </ul>
                                                </div><!-- /  CONTENT BOX-->
                                                <div class="pricingTable-signup">
                                                        <a href="#" class="discover_btn btn">Order Now</a>
                                                </div>
                                        </div>
                                </div> <!-- END Coll -->			


                                <div class="col-md-3 col-sm-6">
                                        <div class="pricingTable">		
                                                <div class="pri-heading">
                                                        <h3>Premium</h3>
                                                </div>							
                                                <div class="price">
                                                        <span class="price-value">$200</span>
                                                        <span class="month">monthly</span>								
                                                </div>	

                                                <div class="pricingContent">
                                                        <ul>
                                                                <li>150GB Disk Space</li>
                                                                <li>80 Email Accounts</li>
                                                                <li>30 subdomains</li>
                                                                <li>55 Domains</li>

                                                        </ul>
                                                </div><!-- /  CONTENT BOX-->
                                                <div class="pricingTable-signup">
                                                        <a href="#" class="discover_btn btn">Order Now</a>
                                                </div>
                                        </div>
                                </div> <!-- END Coll -->		


                                <div class="col-md-3 col-sm-6">
                                        <div class="pricingTable">		
                                                <div class="pri-heading">
                                                        <h3>Platinum</h3>
                                                </div>

                                                <div class="price">
                                                        <span class="price-value">$300</span>
                                                        <span class="month">monthly</span>								
                                                </div>	

                                                <div class="pricingContent">
                                                        <ul>
                                                                <li>250GB Disk Space</li>
                                                                <li>100 Email Accounts</li>
                                                                <li>70 subdomains</li>
                                                                <li>65 Domains</li>

                                                        </ul>
                                                </div><!-- /  CONTENT BOX-->
                                                <div class="pricingTable-signup">
                                                        <a href="#" class="discover_btn btn">Order Now</a>
                                                </div>
                                        </div>
                                </div> <!-- END Coll -->				
                        </div>
                </div>
        </section>#}
        <!-- END PRICING -->

        <!-- Start DOWNLOAD -->
        {#<div class="download_section section_padding">		
                <div class="container">				
                        <div class="row">

                                <div class="col-md-6">					
                                        <div class="download_image">
                                                <img src="assets/images/mobile.png" alt="download image">
                                        </div>	
                                </div><!-- End Col -->	

                                <div class="col-md-6">	
                                        <div class="download-content">
                                                <h2>
                                                        Free Download The Creative Apps
                                                </h2>		
                                                <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
                                                        tempor is incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                                                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                                                        commodo consequat. Duis aute of irure dolor in reprehenderit in voluptate apps .						
                                                </p>

                                                <a href="#" class="btn btn-default google_play"><i class="ti-android"></i> Google Play</a>
                                                <a href="#" class="btn btn-default app_store"><i class="ti-apple"></i> App Store</a>

                                        </div>
                                </div><!-- End Col -->			
                        </div>			
                </div>			
        </div>	#}		
        <!-- END DOWNLOAD -->

        <!-- START APP REVIEW -->
        {#<section id="app_review" class="section_padding">
                <div class="container">
                        <div class="section_heading text-center">
                                <h2>Our Clients Say</h2>		
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra  ullamcorper luctus</p>
                        </div> <!-- END SECTION HEADING -->

                        <div class="row text-center">
                                <div class="col-sm-12">
                                        <div class="review_slider owl-carousel">
                                                <div class="testimonial">
                                                        <div class="pic">
                                                                <img src="assets/images/testimonial/1.jpg" alt="">
                                                        </div>

                                                        <p class="description">
                                                                " Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
                                                        </p>
                                                        <h3 class="testimonial-title">williamson</h3>
                                                        <span class="post">Web Developer</span>

                                                </div><!-- End Testimonial-->

                                                <div class="testimonial">
                                                        <div class="pic">
                                                                <img src="assets/images/testimonial/2.jpg" alt="">
                                                        </div>

                                                        <p class="description">
                                                                " Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
                                                        </p>		
                                                        <h3 class="testimonial-title">Kristina</h3>								
                                                        <span class="post">Web Developer</span>

                                                </div><!-- End Testimonial-->

                                                <div class="testimonial">
                                                        <div class="pic">
                                                                <img src="assets/images/testimonial/3.jpg" alt="">
                                                        </div>

                                                        <p class="description">
                                                                " Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
                                                        </p>			
                                                        <h3 class="testimonial-title">williamson</h3>								
                                                        <span class="post">Web Developer</span>

                                                </div><!-- End Testimonial-->

                                                <div class="testimonial">
                                                        <div class="pic">
                                                                <img src="assets/images/testimonial/1.jpg" alt="">
                                                        </div>

                                                        <p class="description">
                                                                " Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
                                                        </p>		
                                                        <h3 class="testimonial-title">Kristina</h3>								
                                                        <span class="post">Web Developer</span>

                                                </div><!-- End Testimonial-->

                                                <div class="testimonial">
                                                        <div class="pic">
                                                                <img src="assets/images/testimonial/2.jpg" alt="">
                                                        </div>

                                                        <p class="description">
                                                                " Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
                                                        </p>		
                                                        <h3 class="testimonial-title">williamson</h3>								
                                                        <span class="post">Web Developer</span>

                                                </div><!-- End Testimonial-->

                                        </div>
                                </div>
                        </div>
                </div>
        </section>#}
        <!-- END APP REVIEW -->

        <!-- START FAQ -->
        {#
        <section id="faq" class="section_padding">
                <div class="container">
                        <div class="section_heading text-center">
                                <h2>Frequently Ask Question</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra  ullamcorper luctus</p>
                        </div> <!-- END SECTION HEADING -->

                        <div class="row">						
                                <div class="col-md-8 col-sm-12 center-block">
                                        <div class="panel-group accor_padding_top" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingOne">
                                                                <h4 class="panel-title">
                                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                                Where I can Download App?
                                                                        </a>
                                                                </h4>
                                                        </div>

                                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                                <div class="panel-body">
                                                                        <p>
                                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                                Praesent nisl lorem, dictum id pellentesque at, vestibulum
                                                                                ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum 
                                                                                ac justo.
                                                                        </p>
                                                                </div>
                                                        </div>
                                                </div>

                                                <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingTwo">
                                                                <h4 class="panel-title">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                                How I can Install App ?
                                                                        </a>
                                                                </h4>
                                                        </div>
                                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                                <div class="panel-body">
                                                                        <p>
                                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                                Praesent nisl lorem, dictum id pellentesque at, vestibulum
                                                                                ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum 
                                                                                ac justo.
                                                                        </p>
                                                                </div>
                                                        </div>
                                                </div>

                                                <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingThree">
                                                                <h4 class="panel-title">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                                How I can Use?
                                                                        </a>
                                                                </h4>
                                                        </div>
                                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                                <div class="panel-body">
                                                                        <p>
                                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                                Praesent nisl lorem, dictum id pellentesque at, vestibulum
                                                                                ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum 
                                                                                ac justo.
                                                                        </p>
                                                                </div>
                                                        </div>
                                                </div>					

                                                <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingfour">
                                                                <h4 class="panel-title">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                                                                How to Upgrade App?
                                                                        </a>
                                                                </h4>
                                                        </div>
                                                        <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                                                                <div class="panel-body">
                                                                        <p>
                                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                                Praesent nisl lorem, dictum id pellentesque at, vestibulum
                                                                                ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum 
                                                                                ac justo.
                                                                        </p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>	
                                </div><!-- End Col -->

                        </div>
                </div>
        </section>
        #}
        <!-- END FAQ -->					
		  {% include skin~'/pages/homepage/articles.html.twig' %}	
        <!-- START BLOG -->
        
        <!-- END BLOG -->
{% endblock %}