<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        {% for page in pages %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('webpage_page', {'slug': page.slug}) }}">{{ page.nom }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
